@{
    ViewData["Title"] = "Успішно";
}

<h2>Дякуємо за реєстрацію, @ViewData["FullName"]!</h2>
<p>Ваша заявка на консультацію з предмету <strong>@ViewData["SelectedProduct"]</strong> на дату <strong>@ViewData["ConsultationDate"]</strong> була успішно надіслана.</p>
